:root {
  --border-radius: 12px;
  --logo-color: #5d5d6d;
  --bg-primary: #f0f0f5;
  --bg-secondary: #f3f5f6;
  --text-dark: #737380;
  --text-dark-2: #41414d;
  --shapes-dark: #09090a;
  --delete-color: #de3836;
  --orange-low: #ffa585;
  --shapes: #dce2e6;
  --secondary-text: #617480;
  --brand-blue: #115d8c;
  --shapes-light: #f5f5fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
